#gameBoard 
{
  height: 230px;
  width: 230px;
  display: flex;
  flex-wrap: wrap;
  background-color: #dcd6bc;
  margin-left: 10px;
  margin-top: 10px;
  border: 10px solid #dcd6bc;
  margin-bottom: 3px;
}

div 
{
  font-size: 18px;
  text-align: center;
}

.empty {
  height: 20px;
  width: 20px;
  border: 2px solid;
  border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
  /* box-sizing: border-box; */
}

.num {
  height: 20px;
  width: 20px;
  border: 2px solid;
  border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
  /* box-sizing: border-box; */
}

.revealed {
  height: 20px;
  width: 20px;
  border: 2px solid;
  background-color: #363635;
  border-color: #9c998d;
  /* box-sizing: border-box; */
}

.bomb 
{
  height: 20px;
  width: 20px;
  border: 2px solid;
  border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
  /* box-sizing: border-box; */
}

.one 
{
  color: #e76346;
}

.two 
{
  color: #4199d3;
}

.three 
{
  color: #57da59;
}

.four
{
  color: #bb41d3;
}

